<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Job test
        link(rel="stylesheet", href="css/style.css")
    body
        // Контейнер слайдера
        .swiper-container
            // Врапер
            .swiper-wrapper
                // Слайды
                .swiper-slide Slide 1
                .swiper-slide Slide 2
                .swiper-slide Slide 3
            // Пагинация
            .swiper-pagination
            // Стрелочки
            .swiper-button-prev
            .swiper-button-next
        script(src="/js/app.js")